<h1>Resultados de búsqueda de Artistas</h1>
<ul>
    {{#each artists}}
    <li>
        <h2>{{this.name}}</h2>
        {{#if this.images.length}}
            <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        {{else}}
            <img src="/path/to/default/image.jpg" alt="{{this.name}}">
        {{/if}}
        <a href="/albums/{{this.id}}">View Albums</a>
    </li>
    {{/each}}
</ul>
